* {
  box-sizing: border-box;

  :after,
  :before { box-sizing: inherit;}
}

html {
 height: 100vh; 
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.kontejner {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 22rem;
  }

.obrazek {
  width: 100%;
  border-radius: 3% 3% 0 0;
}

h1 {
  font-family: Lobster;
  font-size: 3rem;
  margin: 1rem;
}

.text {
  width: 100%;
  background-color: #283e50;
  color: white;
  text-align: center;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1rem 0 1rem;
}

.tlacitka {
  background-color: #283e50;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding-top: 0.7rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pravidla,
.start {
  height: 40px;
  background-color: #1fcca4;
}

.pravidla:hover,
.tlacitko__domu:hover {
  background-color: #1cbb96;
}

.start,
.tlacitko__restart {
  background-color: #0197f6;
}

.start:hover,
.tlacitko__restart:hover {
  background-color: #0090e9;
}

/*CCS styly pro hru*/
.hra__kontejner {
color: white;
display: flex;
flex-direction: column;
align-items: center;
}

.hra__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.hra__nav--pevna,
.hra__nav--tlacitka {
  display: flex;
  gap: 0.5rem;
}

.tlacitko__domu,
.tlacitko__restart {
padding: 5px 7px;
border-radius: 5px;
cursor: pointer;
}

.tlacitko__domu {
background-color: #1fcca4;
}

.hra__pole {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
}

.hra__ctverecek {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 1.5px solid rgb(99, 98, 98);
  background-color: #f7dce549
}

.hra__ctverecek:hover {
  filter: brightness(80%); 
  cursor: pointer;
}

.hra__ctverecek:focus {
  filter: brightness(80%); 
}
